@import 'variables';

:host {
  display: block;
  padding: 30px 28px 15px;
  background-color: #fff;
  box-shadow: 0 0 3px #ddd;
  @include media(sm) {
    max-width: 400px;
    margin: 0 auto;
  }
}

.reviews {
  &__holder {
   display: flex;
  }
  &__image {
    width: 85px;
  }
  &__content {
    width: calc(100% - 85px);
    padding-left: 20px;
  }
  &__title {
    font-size: 18px;
    color: #232323;
    padding-bottom: 5px;
    font-weight: 700;
  }
  &__text {
    p {
      font-size: 16px;
      line-height: 1.6;
      color: #828282;
      margin-bottom: 16px;
    }
  }
}
